DJANGO_SECRET_KEY=replace-with-your-secret-key
DJANGO_SETTINGS_MODULE=it_company_task_manager.settings.dev

# Production example
# DJANGO_SETTINGS_MODULE=it_company_task_manager.settings.prod
# POSTGRES_DB=your_postgres_db
# POSTGRES_USER=your_postgres_user
# POSTGRES_PASSWORD=your_postgres_password
# POSTGRES_HOST=your_postgres_host
# POSTGRES_DB_PORT=5432
# RENDER_EXTERNAL_HOSTNAME=your-service-name.onrender.com
