<!DOCTYPE html>
<html lang="en">

<head>
  <title>IT Task Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<h1>Task Manager Home</h1>
<p>Welcome to IT Task Manager Ever!</p>
<h2>Dynamic content</h2>
<p>The Task Manager has the following record counts:</p>
<ul>
  <li><strong>Positions:</strong> {{ num_positions }}</li>
  <li><strong>Workers:</strong> {{ num_workers }}</li>
  <li><strong>Tasks:</strong> {{ num_tasks }}</li>
  <li><strong>Teams:</strong> {{ num_teams }}</li>
  <li><strong>Projects:</strong> {{ num_projects }}</li>
</ul>
</body>
</html>
