{% extends "layouts/base.html" %}

{% block content %}
  <h1>
    {{ position }} worker list
    {% if user.is_staff %}
      <a href="{% url 'task-manager:position-delete' pk=position.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>
      <a href="{% url 'task-manager:position-update' pk=position.id %}" class="btn btn-secondary link-to-page">
        Update
      </a>
    {% endif %}
  </h1>
  <hr>
  <ul class="list-unstyled">
    {% for worker in position.workers.all %}
      <li>
        <h4>
          <a href="{% url 'task-manager:worker-detail' pk=worker.id %}">
            {{ worker.username }}
            {% if worker.first_name and worker.last_name %}
              ({{ worker.first_name }} {{ worker.last_name }})
            {% endif %}
          </a>
        </h4>
      </li>
    {% empty %}
      <p class="lead">There are no workers on this position.</p>
    {% endfor %}
  </ul>
{% endblock %}
