{% extends "base.html" %}
{% block content %}
  <h1>
    Position List
  </h1>
  {% if position_list %}
    
  <div class="list-group">
  {% for position in position_list %}
    <div class="list-group-item">
    <h3 class="mb-0">
      <a href="#">
        {{ position }}
      </a>
    </h3>
    {% with wc=position.workers.count %}
      <p class="lead mb-0">{{ wc }} worker{{ wc|pluralize }}</p>
    {% endwith %}
    </div>
  {% endfor %}
  </div>
  {% else %}
    <p>There are no positions in the manager.</p>
  {% endif %}
{% endblock %}
