{% extends "base.html" %}
{% block content %}
  <h1>
    {{ page_title|default:"Task List" }}
  </h1>
  {% if task_list %}
    {% include 'includes/search.html' %}
    <table class="table">
      <tr>
        <th class="task_type-col">Task Type</th>
        <th class="task-col">Task</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th>Project</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td>
            {% with task_type=task.task_type %}
              {% if task_type %}
            <a href="{% url 'task-manager:task-type-detail' pk=task.task_type.id %}">
              {{ task.task_type }}
            </a>
              {% else %}
              -
              {% endif %}
            {% endwith %}
          </td>
          <td>
            <a href="{% url 'task-manager:task-detail' pk=task.id %}">{{ task.name }}</a>
            {% if task.tags %}
              <p class="mb-0">
                {% for tag in task.tags.all %}
                  <a href="{% url 'task-manager:tag-detail' pk=tag.id %}" class="text-muted small">#{{ tag }}</a>
                {% endfor %}
              </p>
            {% endif %}
            {% with ac=task.assignees.count %}
              <span class="text-muted">
                {{ ac }} Assignee{{ ac|pluralize }}
              </span>
            {% endwith %}
          </td>
          <td>
            {% if task.is_completed %}
              <span style="color: green">Completed</span>
            {% else %}
              <span style="color: darkviolet">In progress</span>
            {% endif %}
          </td>
          <td>{{ task.priority }}</td>
          <td>{% if task.deadline %}{{ task.deadline }}{% else %}-{% endif %}</td>
          <td>
            {% if task.project %}<a href="{% url 'task-manager:project-detail' pk=task.project.id %}">
              {{ task.project }}
            </a>{% else %}-{% endif %}
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p class="lead">{{ empty_message|default:"There are no tasks in the manager." }}</p>
  {% endif %}
{% endblock %}
