{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task }}
    {% if task_in_project_user_team %}
      <a href="{% url 'task-manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>
      <a href="{% url 'task-manager:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
        Update
      </a>
    {% endif %}
  </h1>
  <p class="lead">
    <strong>Type</strong>:{% if task.task_type %} {{ task.task_type }}{% else %} No type{% endif %}
    {% if task.is_completed %}
      <small style="color: green;">(Completed)</small>
    {% else %}
      <small style="color: darkviolet;">(In progress)</small>
    {% endif %}
  </p>
  <p class="lead"><strong>Project:</strong>
    <a href="{% url 'task-manager:project-detail' pk=task.project.id %}">
      {{ task.project }}
    </a>
  </p>
  {% if task.description %}
    <p class="lead mb-0">{{ task.description }}</p>
  {% endif %}
  <p>
    {% for tag in task.tags.all %}
      <small class="text-muted">#{{ tag }}</small>
    {% endfor %}
  </p>
  <br>
  <h3>
    Assignees
  </h3>
  <hr>
  {% if task.assignees.count %}
    <ul class="list-unstyled">
      {% for assignee in task.assignees.all %}
        <li>
          <a class="lead" href="{% url 'task-manager:worker-detail' pk=assignee.id %}">
            {{ assignee.username }}
            {% if assignee.first_name and assignee.last_name %}
              ({{ assignee.first_name }}
              {{ assignee.last_name }})
            {% endif %}
            {% if assignee.position %}
              [{{ assignee.position }}]
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no assignees in this task</p>
  {% endif %}
  <br>
  <p class="lead">Priority: {{ task.priority }}</p>
  <hr>
  <br>
  <p class="lead">Deadline:{% if task.deadline %} {{ task.deadline }}{% else %} No deadline{% endif %}</p>
  <hr>
{% endblock %}
