{% extends "base.html" %}
{% block content %}
  <h1>
    Worker List
    <a href="{% url 'task-manager:worker-create' %}?next={{ request.get_full_path|urlencode }}"
       class="btn btn-primary link-to-page">
      +
    </a>
  </h1>
  {% if worker_list %}
    {% include 'includes/search.html' %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
      </tr>
      {% for worker in worker_list %}
        <tr>
          <td>{{ worker.id }}</td>
          <td><a href="{% url 'task-manager:worker-detail' pk=worker.id %}">{{ worker.username }}
            {% if user == worker %} (Me){% endif %}</a>
          </td>
          <td>
            {% if worker.first_name %}
              {{ worker.first_name }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if worker.last_name %}
              {{ worker.last_name }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if worker.position %}
              {{ worker.position }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p class="lead">There are no workers in the manager.</p>
  {% endif %}
{% endblock %}
